.container {
    display: flex;
    justify-content: space-evenly;
    margin-left: 200px;
    margin-right: 200px;
}
.card {
    width: 250px;
    height: 300px;
    background: skyblue;
}
.content > h2 {
    text-align: center;
    padding-top: 30px;
}
.content > p {
    box-sizing: border-box;
    padding: 20px;
    text-align: justify;
}
.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    height: 50px;
    width: 100px;
    background: pink;
}

