.father {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card {
    width: 300px;
    height: 500px;
    border: 1px solid silver;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.icon {
    width: 160px;
    height: 150px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    position: absolute;
    top: -80px;
    background: white;
}
.btn {
    width: 200px;
    height: 50px;
    background: dodgerblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 30px;
}
.card p {
    padding: 0 20px 0 20px;

}
.btn:hover {
    background: gold;
    color: white;
    cursor: pointer;
}