body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*overflow: hidden;*/
}

.father {
    width: 1000px;
    height: 500px;
    /*border: 1px solid orangered;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.block {
    width: 300px;
    height: 400px;
    border: 1px solid silver;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn {
    width: 150px;
    height: 50px;
    background: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block > p {
    padding: 15px;
}
.btn:hover {
    background: hotpink;
    cursor: pointer;

}
