* {
    margin: 0;
}

.father {
    width: 1000px;
    height: 700px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.card {
    width: 450px;
    height: 200px;
    border: 3px solid dodgerblue;
    display: flex;
    border-radius: 10px;
}
.icon {
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .icon > i {
       color: hotpink;
        font-size: 60px;

    }
.title {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.title > h4 {
    color: hotpink;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;

}
.title > p {
    color: dodgerblue;
}
